body {
    background-color: #8f8585;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    font-family: 'Inter', sans-serif;
}

.container{
    align-items: center;
    border: 2px;
    padding: 5px;
}